html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: Montserrat-Black;
  src: url(../fonts/Montserrat-Black.ttf); }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body,
html {
  overflow-x: hidden !important; }

.menu {
  width: 30%;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .menu__youtube-link {
    background-color: #ff0000; }
  .menu__twich-link {
    background-color: #65449b; }

.menu__youtube-link,
.menu__twich-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 34vh; }

.menu-youtube-img,
.menu-twich-img {
  width: 40%;
  height: auto;
  margin: 0 auto; }

.menu-box {
  width: 100%;
  height: 32vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  overflow: hidden; }

.nav-box {
  width: 50%;
  height: 16vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  text-decoration: none;
  outline: none;
  overflow: hidden; }
  .nav-box_green {
    background-color: #5fa050;
    position: absolute;
    top: 0;
    left: 0; }
  .nav-box_blue {
    background-color: #159288;
    position: absolute;
    top: 0;
    right: 0; }
  .nav-box_yellow {
    background-color: #fbdd05;
    position: absolute;
    bottom: 0;
    left: 0; }
  .nav-box_dark-blue {
    background-color: #305966;
    position: absolute;
    bottom: 0;
    right: 0; }
  .nav-box__img {
    width: 30%;
    height: auto; }
  .nav-box__link-name {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 18px;
    padding: 10px 0;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    display: none; }

.nav-box:hover {
  height: 19vh;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  z-index: 5; }

.nav-box:hover .nav-box__link-name {
  -webkit-animation: link-appear .7s linear normal;
          animation: link-appear .7s linear normal;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  display: block; }

@-webkit-keyframes link-appear {
  0% {
    top: 50px; }
  40% {
    top: 0; }
  55% {
    top: 10px; }
  70% {
    top: 0; }
  85% {
    top: 5px; }
  100% {
    top: 0; } }

@keyframes link-appear {
  0% {
    top: 50px; }
  40% {
    top: 0; }
  55% {
    top: 10px; }
  70% {
    top: 0; }
  85% {
    top: 5px; }
  100% {
    top: 0; } }

.container {
  width: 100%;
  min-height: 100vh;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.intro-bg {
  background: url("../imgs/bg-1920.jpg"); }

.content {
  width: 70%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative; }
  .content_p-bottom {
    padding-bottom: 50px; }

.under-menu {
  width: 30%; }

.intro-title {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 52px;
  padding: 20px 50px;
  margin-top: 20px; }

.mark {
  font-family: Montserrat-Bold, sans-serif;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: #fbdd05;
  font-size: 52px;
  display: inline-block;
  white-space: nowrap; }

.underline {
  border-bottom: 5px solid #fbdd05;
  padding-bottom: 3px; }

.description-text {
  font-family: Montserrat-Light, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: justify; }
  .description-text_m-left {
    min-width: 300px;
    margin-left: 250px;
    text-align: left;
    font-family: Montserrat-Regular, sans-serif; }
  .description-text_padding {
    padding: 10px 50px; }
  .description-text_l-padding {
    padding: 10px 0 10px 50px; }
  .description-text_r-padding {
    padding: 10px 50px 10px 0; }
  .description-text_t-padding {
    padding: 10px 0; }

.about-me-box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.gif-container {
  width: 50%; }

.gif {
  position: absolute;
  bottom: 0; }

.about-info-container {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 50px; }

.about-text {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 16px;
  line-height: 25px;
  background-color: #fbdd05;
  padding: 30px 40px;
  width: 400px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  text-align: justify;
  margin-top: 40px;
  -webkit-box-shadow: 0 0 15px grey;
          box-shadow: 0 0 15px grey;
  position: relative; }
  .about-text_cursive {
    font-style: italic; }

.about-text:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -40px;
  left: -50px;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-right: 60px solid #fbdd05;
  -webkit-transform: rotateZ(-50deg);
      -ms-transform: rotate(-50deg);
          transform: rotateZ(-50deg); }

.bg2 {
  background: url("../imgs/bg2.jpg");
  background-position-x: -500px;
  -webkit-background-size: cover;
          background-size: cover; }

.decor-block {
  width: 100%;
  height: 80px;
  background: url("../imgs/decor.png");
  -webkit-background-size: cover;
          background-size: cover;
  position: absolute;
  top: 0;
  left: 0; }

.games-title {
  margin: 100px 50px 50px;
  position: relative;
  z-index: 2; }
  .games-title_m-margin-decline {
    margin: 100px 50px 20px !important; }

.text-mark {
  background-color: #fbdd05;
  padding: 2px; }

.games-video-block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px; }

.games-video-inner {
  width: 50%;
  padding: 50px 0; }
  .games-video-inner__title {
    font-family: Montserrat-Black, sans-serif;
    font-size: 52px;
    text-transform: uppercase;
    color: #949286;
    text-align: center;
    padding: 30px 0; }

.video {
  width: 100%;
  height: auto; }

.text-indent {
  text-indent: 40px; }

.line-box {
  width: 100%;
  position: relative;
  left: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .line-box__quadro {
    width: 15px;
    height: 15px;
    background-color: #fbdd05;
    margin: 0 10px; }
  .line-box__line {
    width: 100%;
    height: 3px;
    background-color: #fbdd05;
    position: relative;
    top: 8px;
    left: 20px; }

.bg3 {
  background: url("../imgs/bg3.jpg");
  -webkit-background-size: cover;
          background-size: cover; }

.decor-info-block {
  width: 100%;
  height: 80px;
  background: url("../imgs/decor180.png");
  -webkit-background-size: cover;
          background-size: cover;
  position: absolute; }

.near-mark-title {
  font-size: 32px;
  font-family: Montserrat-Regular, sans-serif;
  padding-left: 20px; }

.info-box {
  width: 90%;
  height: 240px;
  margin: 50px auto;
  border: 1px solid #fff; }
  .info-box_margin {
    margin-top: 150px; }
  .info-box_bg1 {
    background: url("../imgs/info/picture1.png");
    -webkit-background-size: cover;
            background-size: cover; }
  .info-box_bg2 {
    background: url("../imgs/info/picture2.png");
    -webkit-background-size: cover;
            background-size: cover; }
  .info-box_bg3 {
    background: url("../imgs/info/picture3.png");
    -webkit-background-size: cover;
            background-size: cover; }

.info-box-inner {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  position: relative; }
  .info-box-inner__title {
    min-width: 200px;
    display: inline-block;
    height: 50px;
    -webkit-clip-path: polygon(5% 0, 100% 9%, 95% 90%, 0 97%);
            clip-path: polygon(5% 0, 100% 9%, 95% 90%, 0 97%);
    background-color: #fbdd05;
    font-family: Montserrat-Black, sans-serif;
    font-size: 32px;
    color: #000;
    text-align: center;
    padding-top: 7px;
    margin: 0 0 20px 300px; }
  .info-box-inner__img {
    position: absolute;
    top: -100px;
    left: -50px; }
    .info-box-inner__img_fix {
      top: -60px; }

.info-box-list {
  min-width: 300px;
  margin-left: 300px; }
  .info-box-list__item {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 16px;
    line-height: 24px; }

.target-title {
  margin: 100px 0 50px 50px; }

.target-box {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }

.box-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .box-inner__attention {
    width: 10%;
    margin: 40px auto 0; }

.target-box-text {
  font-family: Montserrat-Light, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  padding: 20px 40px;
  background-color: #fbdd05;
  width: 80%;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  margin: 100px 20px 0 100px;
  -webkit-box-shadow: 0 0 15px grey;
          box-shadow: 0 0 15px grey; }

.bg4 {
  background: url("../imgs/bg-1920.jpg");
  -webkit-background-size: cover;
          background-size: cover; }

@media (min-width: 1300px) and (max-width: 1500px) {
  .target-box {
    width: 100%; } }

@media (min-width: 300px) and (max-width: 1300px) {
  .nav-box__link-name {
    font-size: 16px; }
  .gif {
    width: 50%; }
  .about-text {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 22px;
    width: 97%; }
  .games-video-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .games-video-inner {
    width: 100%;
    padding: 0; }
  .line-box {
    margin: 20px; }
  .games-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 100px 50px 50px; }
  .near-mark-title {
    padding: 0; }
  .info-box-inner__img {
    width: 250px;
    top: -80px; }
    .info-box-inner__img_fix {
      top: -40px; }
  .info-box-inner__title {
    margin: 0 0 20px 45%; }
  .info-box-list {
    margin-left: 45%; }
  .description-text_m-left {
    margin-left: 35%; }
  .info-box_margin {
    margin-top: 100px; }
  .target-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .target-box-text {
    font-size: 14px;
    line-height: 20px;
    margin: 50px auto;
    text-align: justify; }
  .box-inner__attention {
    width: 4%; }
  .box-inner__img {
    width: 50%;
    margin: 0 auto; } }

@media (min-width: 300px) and (max-width: 1200px) {
  .info-box-inner__img {
    display: none; }
  .info-box-inner__title {
    margin: 20px 0 10px; }
  .info-box-list {
    margin-left: 15%; }
  .description-text_m-left {
    margin: 0 0 0 16%;
    padding-top: 0; }
  .info-box_margin {
    margin-top: 50px; }
  .description-text_l-padding {
    padding: 10px 0; }
  .description-text_r-padding {
    padding: 10px 0; } }

@media (min-width: 300px) and (max-width: 899px) {
  .menu,
  .under-menu {
    display: none; }
  .m-menu {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .m-menu__link {
      display: block;
      width: 50%;
      height: 70px;
      position: relative; }
  .m-youtube {
    top: -100px; }
  .m-twich {
    text-align: right;
    top: -80px;
    right: 30px; }
    .m-twich__img {
      -webkit-transform: rotateZ(7deg);
          -ms-transform: rotate(7deg);
              transform: rotateZ(7deg); }
  .about-info-container {
    margin-left: 50%; }
  .content {
    width: 100%; }
  .about-me-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }

@media (min-width: 300px) and (max-width: 599px) {
  .menu,
  .under-menu {
    display: none; }
  .intro-title {
    padding: 20px; }
  .gif-container {
    width: 70%; }
  .gif {
    width: 100%;
    position: static; }
  .about-info-container {
    width: 90%;
    margin-left: 10%; }
  .about-text {
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
    width: 90%; }
  .games-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 20px; }
  .games-video-block {
    padding: 0 20px; }
  .video {
    margin-bottom: 25px; }
  .description-text {
    font-size: 14px;
    line-height: 22px; }
    .description-text_padding {
      padding: 10px 20px; }
    .description-text_m-left {
      margin: 0 0 0 6%; }
  .info-box-list {
    margin-left: 5%; }
    .info-box-list__item {
      font-size: 14px;
      line-height: 21px; }
  .target-box-text {
    font-size: 14px;
    line-height: 21px;
    padding: 20px 30px;
    width: 100%;
    margin: 30px auto 0; }
  .mark {
    font-size: 32px;
    padding: 0 5px; }
  .intro-title {
    font-size: 30px; } }

@media (min-width: 300px) and (max-width: 400px) {
  .about-text,
  .about-info-container {
    width: 100%; }
  .gif {
    margin-top: 50px; }
  .games-video-inner__title {
    font-size: 38px; }
  .mark {
    font-size: 26px; }
  .info-box-inner__title {
    font-size: 26px;
    padding-top: 11px; }
  .info-box-list {
    margin-left: 0; }
    .info-box-list__item {
      font-size: 12px;
      width: 250px; }
  .description-text_m-left {
    margin: 0;
    font-size: 12px;
    min-width: 250px !important; }
  .m-menu {
    bottom: -40px; }
  .target-box {
    padding-bottom: 130px; } }

@media (min-height: 1200px) {
  .container,
  .content {
    min-height: 60vh; } }

@media (min-height: 300px) and (max-height: 700px) {
  .m-menu {
    bottom: -50px; }
  .m-youtube__img {
    position: relative;
    top: 20px;
    width: 60%; }
  .m-twich__img {
    width: 45%;
    position: relative;
    bottom: -20px; }
  .about-text {
    margin-bottom: 200px; } }

@media (min-width: 900px) {
  .m-menu {
    display: none; } }
