//fonts
$mont-reg: Montserrat-Regular, sans-serif;
$mont-bold: Montserrat-Bold, sans-serif;
$mont-light:Montserrat-Light, sans-serif;
$mont-black:Montserrat-Black, sans-serif;

//colors
$yellow:#fbdd05;
$black:#000;
$white:#fff;